<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lungcancer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lungcancer"
        tools:targetApi="31">
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".specificchat"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".setProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chatActivity"
            android:exported="false" />
        <activity
            android:name=".otpAuthentication"
            android:exported="false" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".sideeffects"
            android:exported="false" />
        <activity
            android:name=".nutration"
            android:exported="false" />
        <activity
            android:name=".prediction"
            android:exported="false" />
        <activity
            android:name=".Scheduling"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ShowList"
            android:exported="false" />
        <activity
            android:name=".SearchUsers"
            android:exported="false" />
        <activity
            android:name=".PostDetails"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".OthersProfile"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>